.fixed-aspect-ratio {
  width: 240px;
}

.fixed-aspect-ratio .aspect-ratio-keeper {
  position: relative;
}

.fixed-aspect-ratio .div {
  align-self: stretch;
  position: relative;
}

.fixed-aspect-ratio .aspect-ratio-keeper-2 {
  align-self: stretch;
  position: relative;
}

.fixed-aspect-ratio .aspect-ratio-keeper-3 {
  align-self: stretch;
  position: relative;
}

.fixed-aspect-ratio .aspect-ratio-keeper-4 {
  align-self: stretch;
  position: relative;
}

.fixed-aspect-ratio .aspect-ratio-keeper-5 {
  align-self: stretch;
  height: 2px;
  margin-left: -1px;
  margin-right: -1px;
  min-width: 242px;
  position: relative;
  transform: rotate(-135.34deg);
}

.fixed-aspect-ratio.fifty-height-true {
  background-position: 50% 50%;
  background-size: cover;
}

.fixed-aspect-ratio.two-hundred-and-nineteen {
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.fixed-aspect-ratio.thirty-two {
  overflow: hidden;
}

.fixed-aspect-ratio.a4 {
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.fixed-aspect-ratio.letter {
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.fixed-aspect-ratio.forty-three {
  overflow: hidden;
}

.fixed-aspect-ratio.fifty-four {
  background-position: 50% 50%;
  background-size: cover;
}

.fixed-aspect-ratio.portrait-true.twenty-one {
  background-position: 50% 50%;
  background-size: cover;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-true {
  overflow: hidden;
}

.fixed-aspect-ratio.fifty-height-false.forty-three {
  background-size: 100% 100%;
}

.fixed-aspect-ratio.fifty-four.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.fifty-height-false.fifty-four {
  overflow: hidden;
}

.fixed-aspect-ratio.fifty-height-false.thirty-two {
  background-size: 100% 100%;
}

.fixed-aspect-ratio.fifty-height-false.eleven {
  background-image: url(../../../static/img/aspect-ratio-1-1-portrait-no-50-height-no.png);
  background-size: 100% 100%;
  height: 240px;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-false {
  background-size: 100% 100%;
}

.fixed-aspect-ratio.eleven.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-1-1-portrait-no-50-height-yes.png);
  height: 120px;
  overflow: hidden;
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine {
  background-position: 50% 50%;
  background-size: cover;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.twenty-one.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten {
  background-position: 50% 50%;
  background-size: cover;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.fifty-height-true {
  overflow: hidden;
}

.fixed-aspect-ratio.fifty-height-true.portrait-false {
  overflow: hidden;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-true {
  overflow: hidden;
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine.fifty-height-false {
  background-image: url(../../../static/img/aspect-ratio-16-9-portrait-yes-50-height-no.png);
  height: 427px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.twenty-one {
  background-image: url(../../../static/img/aspect-ratio-2-1-portrait-yes-50-height-yes.png);
  height: 240px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.forty-three {
  background-image: url(../../../static/img/aspect-ratio-4-3-portrait-yes-50-height-yes.png);
  height: 160px;
}

.fixed-aspect-ratio.fifty-height-false.forty-three.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-4-3-portrait-no-50-height-no.png);
  height: 180px;
}

.fixed-aspect-ratio.fifty-height-false.letter.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-letter-portrait-no-50-height-no.png);
  height: 185px;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-golden-ratio-1-618-1-portrait-no-50-height-yes.png);
  height: 74px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.fifty-four {
  background-image: url(../../../static/img/aspect-ratio-5-4-portrait-yes-50-height-yes.png);
  height: 150px;
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-16-10-portrait-yes-50-height-yes.png);
  height: 192px;
}

.fixed-aspect-ratio.a4.fifty-height-false.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-a4-portrait-no-50-height-no.png);
  height: 170px;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-false.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-16-9-portrait-no-50-height-no.png);
  background-size: 100% 100%;
  height: 135px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.thirty-two {
  background-image: url(../../../static/img/aspect-ratio-3-2-portrait-yes-50-height-yes.png);
  height: 180px;
}

.fixed-aspect-ratio.twenty-one.fifty-height-false.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-2-1-portrait-no-50-height-no.png);
  background-size: 100% 100%;
  height: 120px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.forty-three {
  background-image: url(../../../static/img/aspect-ratio-4-3-portrait-yes-50-height-no.png);
  height: 320px;
}

.fixed-aspect-ratio.portrait-true.golden-ratio-1-618-1.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-golden-ratio-1-618-1-portrait-yes-50-height-yes.png);
  height: 194px;
}

.fixed-aspect-ratio.fifty-height-true.fifty-four.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-5-4-portrait-no-50-height-yes.png);
  height: 96px;
}

.fixed-aspect-ratio.portrait-true.letter.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-letter-portrait-yes-50-height-yes.png);
  height: 155px;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-false.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-golden-ratio-1-618-1-portrait-no-50-height-no.png);
  height: 148px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.fifty-four {
  background-image: url(../../../static/img/aspect-ratio-5-4-portrait-yes-50-height-no.png);
  height: 300px;
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-16-9-portrait-yes-50-height-yes.png);
  height: 213px;
}

.fixed-aspect-ratio.portrait-true.two-hundred-and-nineteen.fifty-height-false {
  background-image: url(../../../static/img/aspect-ratio-21-9-portrait-yes-50-height-no.png);
  height: 560px;
}

.fixed-aspect-ratio.fifty-height-false.thirty-two.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-3-2-portrait-no-50-height-no.png);
  height: 160px;
}

.fixed-aspect-ratio.fifty-height-true.forty-three.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-4-3-portrait-no-50-height-yes.png);
  height: 90px;
}

.fixed-aspect-ratio.portrait-false.fifty-height-true.letter {
  background-image: url(../../../static/img/aspect-ratio-letter-portrait-no-50-height-yes.png);
  height: 93px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.letter {
  background-image: url(../../../static/img/aspect-ratio-letter-portrait-yes-50-height-no.png);
  height: 311px;
}

.fixed-aspect-ratio.fifty-height-false.one-thousand-six-hundred-and-ten.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-16-10-portrait-no-50-height-no.png);
  background-size: 100% 100%;
  height: 150px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.thirty-two {
  background-image: url(../../../static/img/aspect-ratio-3-2-portrait-yes-50-height-no.png);
  height: 360px;
}

.fixed-aspect-ratio.fifty-height-false.fifty-four.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-5-4-portrait-no-50-height-no.png);
  height: 192px;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-21-9-portrait-no-50-height-yes.png);
  height: 51px;
}

.fixed-aspect-ratio.thirty-two.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-3-2-portrait-no-50-height-yes.png);
  height: 80px;
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-false {
  background-image: url(../../../static/img/aspect-ratio-a4-portrait-yes-50-height-no.png);
  height: 339px;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-16-10-portrait-no-50-height-yes.png);
  height: 75px;
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten.fifty-height-false {
  background-image: url(../../../static/img/aspect-ratio-16-10-portrait-yes-50-height-no.png);
  height: 384px;
}

.fixed-aspect-ratio.a4.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-a4-portrait-no-50-height-yes.png);
  height: 85px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.twenty-one {
  background-image: url(../../../static/img/aspect-ratio-2-1-portrait-yes-50-height-no.png);
  height: 480px;
}

.fixed-aspect-ratio.portrait-true.two-hundred-and-nineteen.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-21-9-portrait-yes-50-height-yes.png);
  height: 280px;
}

.fixed-aspect-ratio.twenty-one.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-2-1-portrait-no-50-height-yes.png);
  height: 60px;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-false.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-21-9-portrait-no-50-height-no.png);
  height: 103px;
}

.fixed-aspect-ratio.portrait-true.golden-ratio-1-618-1.fifty-height-false {
  background-image: url(../../../static/img/aspect-ratio-golden-ratio-1-618-1-portrait-yes-50-height-no.png);
  height: 388px;
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-true {
  background-image: url(../../../static/img/aspect-ratio-a4-portrait-yes-50-height-yes.png);
  height: 170px;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-true.portrait-false {
  background-image: url(../../../static/img/aspect-ratio-16-9-portrait-no-50-height-yes.png);
  height: 68px;
}

.fixed-aspect-ratio.portrait-true.twenty-one .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.fifty-height-false.forty-three .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.portrait-true.golden-ratio-1-618-1 .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.fifty-height-false.fifty-four .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.portrait-true.thirty-two .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.fifty-height-false.eleven .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
  height: 240px;
  left: 70px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.fifty-height-false.letter .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.thirty-two.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-true .aspect-ratio-keeper {
  top: 25px;
}

.fixed-aspect-ratio.eleven.fifty-height-true .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  top: 59px;
  transform: rotate(-30deg);
  width: 242px;
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.fifty-height-true.letter .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.twenty-one.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.portrait-true.two-hundred-and-nineteen .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  width: 242px;
}

.fixed-aspect-ratio.portrait-true.fifty-four .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.a4.portrait-true .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.a4.fifty-height-false .aspect-ratio-keeper {
  align-items: flex-start;
  display: flex;
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine.fifty-height-false .aspect-ratio-keeper {
  flex-direction: column;
  gap: 10px;
  top: 32px;
  transform: rotate(-44.16deg);
  width: 240px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.twenty-one .aspect-ratio-keeper {
  height: 240px;
  left: 70px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.forty-three .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  top: 79px;
  transform: rotate(-41.81deg);
  width: 242px;
}

.fixed-aspect-ratio.fifty-height-false.forty-three.portrait-false .aspect-ratio-keeper {
  height: 240px;
  left: 113px;
  top: -30px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.fifty-height-false.letter.portrait-false .aspect-ratio-keeper {
  height: 240px;
  left: 107px;
  top: -27px;
  transform: rotate(-46deg);
  width: fit-content;
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-true.portrait-false .aspect-ratio-keeper {
  top: 36px;
  transform: rotate(-18deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.fifty-four .aspect-ratio-keeper {
  top: 4px;
  transform: rotate(178.3deg);
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten.fifty-height-true .aspect-ratio-keeper {
  height: 240px;
  left: 104px;
  top: -24px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.a4.fifty-height-false.portrait-false .aspect-ratio-keeper {
  height: 240px;
  left: 120px;
  top: -35px;
  transform: rotate(-45.1deg);
  width: fit-content;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-false.portrait-false .aspect-ratio-keeper {
  top: 67px;
  transform: rotate(-34.23deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.thirty-two .aspect-ratio-keeper {
  height: 240px;
  left: 113px;
  top: -30px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.twenty-one.fifty-height-false.portrait-false .aspect-ratio-keeper {
  top: 59px;
  transform: rotate(-30deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.forty-three .aspect-ratio-keeper {
  flex-direction: column;
  top: 50px;
  transform: rotate(143.61deg);
  width: 240px;
}

.fixed-aspect-ratio.portrait-true.golden-ratio-1-618-1.fifty-height-true .aspect-ratio-keeper {
  height: 240px;
  left: 103px;
  top: -23px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.fifty-height-true.fifty-four.portrait-false .aspect-ratio-keeper {
  height: 2px;
  left: -1px;
  top: 47px;
  transform: rotate(-23.58deg);
  width: 242px;
}

.fixed-aspect-ratio.portrait-true.letter.fifty-height-true .aspect-ratio-keeper {
  top: 77px;
  transform: rotate(-40.32deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-false.portrait-false .aspect-ratio-keeper {
  top: 73px;
  transform: rotate(-38.17deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.fifty-four .aspect-ratio-keeper {
  top: 52px;
  transform: rotate(143.59deg);
}

.fixed-aspect-ratio.portrait-true.one-hundred-and-sixty-nine.fifty-height-true .aspect-ratio-keeper {
  height: 240px;
  left: 89px;
  top: -13px;
  transform: rotate(-45deg);
  width: fit-content;
}

.fixed-aspect-ratio.portrait-true.two-hundred-and-nineteen.fifty-height-false .aspect-ratio-keeper {
  gap: 10px;
  top: 27px;
  transform: rotate(-26.45deg);
}

.fixed-aspect-ratio.fifty-height-false.thirty-two.portrait-false .aspect-ratio-keeper {
  top: 79px;
  transform: rotate(-41.81deg);
}

.fixed-aspect-ratio.fifty-height-true.forty-three.portrait-false .aspect-ratio-keeper {
  height: 242px;
  left: 119px;
  top: -76px;
  transform: rotate(-67.98deg);
  width: 2px;
}

.fixed-aspect-ratio.portrait-false.fifty-height-true.letter .aspect-ratio-keeper {
  top: 45px;
  transform: rotate(-22.73deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.letter .aspect-ratio-keeper {
  flex-direction: column;
  opacity: 0.7;
  top: 45px;
  transform: rotate(150.46deg);
  width: 240px;
}

.fixed-aspect-ratio.fifty-height-false.one-thousand-six-hundred-and-ten.portrait-false .aspect-ratio-keeper {
  top: 74px;
  transform: rotate(-38.68deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.thirty-two .aspect-ratio-keeper {
  flex-direction: column;
  top: 45px;
  transform: rotate(143.62deg);
  width: 240px;
}

.fixed-aspect-ratio.fifty-height-false.fifty-four.portrait-false .aspect-ratio-keeper {
  height: 240px;
  left: 104px;
  top: -24px;
  transform: rotate(-45.13deg);
  width: fit-content;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-true.portrait-false .aspect-ratio-keeper {
  transform: rotate(-12.37deg);
}

.fixed-aspect-ratio.thirty-two.fifty-height-true.portrait-false .aspect-ratio-keeper {
  top: 39px;
  transform: rotate(-19.47deg);
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-false .aspect-ratio-keeper {
  flex-direction: column;
  top: 49px;
  transform: rotate(138deg);
  width: 240px;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.fifty-height-true.portrait-false .aspect-ratio-keeper {
  top: 36px;
  transform: rotate(-18.21deg);
}

.fixed-aspect-ratio.portrait-true.one-thousand-six-hundred-and-ten.fifty-height-false .aspect-ratio-keeper {
  flex-direction: column;
  gap: 10px;
  top: 41px;
  transform: rotate(-44deg);
  width: 240px;
}

.fixed-aspect-ratio.a4.fifty-height-true.portrait-false .aspect-ratio-keeper {
  height: 242px;
  left: 119px;
  top: -79px;
  transform: rotate(-69.3deg);
  width: 2px;
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.twenty-one .aspect-ratio-keeper {
  flex-direction: column;
  gap: 10px;
  top: 22px;
  transform: rotate(-44deg);
  width: 240px;
}

.fixed-aspect-ratio.portrait-true.two-hundred-and-nineteen.fifty-height-true .aspect-ratio-keeper {
  transform: rotate(166.61deg);
}

.fixed-aspect-ratio.twenty-one.fifty-height-true.portrait-false .aspect-ratio-keeper {
  top: 29px;
  transform: rotate(-14.48deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-false.portrait-false .aspect-ratio-keeper {
  top: 50px;
  transform: rotate(-25.38deg);
}

.fixed-aspect-ratio.portrait-true.golden-ratio-1-618-1.fifty-height-false .aspect-ratio-keeper {
  flex-direction: column;
  gap: 10px;
  top: 40px;
  transform: rotate(-44deg);
  width: 240px;
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-true .aspect-ratio-keeper {
  height: 240px;
  left: 110px;
  top: -35px;
  transform: rotate(-50.19deg);
  width: fit-content;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-true.portrait-false .aspect-ratio-keeper {
  top: 33px;
  transform: rotate(-16.33deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.fixed-aspect-ratio.eleven .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(24.47deg);
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-true .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(14.9deg);
}

.fixed-aspect-ratio.fifty-height-false.twenty-one .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: rotate(-27.05deg);
}

.fixed-aspect-ratio.fifty-four.portrait-false .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
}

.fixed-aspect-ratio.fifty-height-false.one-thousand-six-hundred-and-ten .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: rotate(154.08deg);
}

.fixed-aspect-ratio.fifty-height-false.thirty-two .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(44.39deg);
}

.fixed-aspect-ratio.letter.portrait-false .div {
  height: 240px;
  min-width: 0px;
  transform: rotate(6.23deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-false .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: rotate(151.01deg);
}

.fixed-aspect-ratio.portrait-true.forty-three .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(21.39deg);
}

.fixed-aspect-ratio.fifty-height-true.fifty-four .div {
  height: 242px;
  min-width: 2px;
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-false .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(31.06deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-true .div {
  overflow: hidden;
  transform: rotate(24.76deg);
}

.fixed-aspect-ratio.a4.portrait-false .div {
  height: 240px;
  min-width: 0px;
}

.fixed-aspect-ratio.forty-three.portrait-false .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(3.48deg);
}

.fixed-aspect-ratio.fifty-height-true.thirty-two .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(3.48deg);
}

.fixed-aspect-ratio.a4.fifty-height-true .div {
  margin-bottom: -1px;
  margin-top: -1px;
  transform: rotate(5deg);
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.fifty-height-true .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(7.55deg);
}

.fixed-aspect-ratio.fifty-height-true.twenty-one .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(24.47deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-false .div {
  gap: 10px;
  transform: rotate(-28.5deg);
}

.fixed-aspect-ratio.portrait-true.letter .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(21.5deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-true .div {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(8.29deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-true.fifty-four .div {
  margin-bottom: -49.52px;
  margin-top: -49.52px;
}

.fixed-aspect-ratio.a4.fifty-height-false.portrait-false .div {
  transform: rotate(-0.1deg);
}

.fixed-aspect-ratio.portrait-true.fifty-height-false.fifty-four .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(13.71deg);
}

.fixed-aspect-ratio.fifty-height-false.fifty-four.portrait-false .div {
  transform: rotate(7.66deg);
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-false .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(28.7deg);
}

.fixed-aspect-ratio.a4.portrait-true.fifty-height-true .div {
  height: 242px;
  min-width: 2px;
}

.fixed-aspect-ratio.fifty-height-true .aspect-ratio-keeper-2 {
  height: 242px;
  min-width: 2px;
  transform: rotate(53.32deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1 .aspect-ratio-keeper-2 {
  align-items: flex-start;
  display: flex;
  width: fit-content;
}

.fixed-aspect-ratio.thirty-two .aspect-ratio-keeper-2 {
  height: 242px;
  margin-bottom: -49.32px;
  margin-top: -49.32px;
  min-width: 2px;
  transform: rotate(53.32deg);
}

.fixed-aspect-ratio.a4 .aspect-ratio-keeper-2 {
  height: 242px;
  margin-bottom: -49.52px;
  margin-top: -49.52px;
  min-width: 2px;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten .aspect-ratio-keeper-2 {
  align-items: flex-start;
  display: flex;
  width: fit-content;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine .aspect-ratio-keeper-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.fixed-aspect-ratio.letter .aspect-ratio-keeper-2 {
  height: 242px;
  margin-bottom: -49.52px;
  margin-top: -49.52px;
  min-width: 2px;
}

.fixed-aspect-ratio.forty-three .aspect-ratio-keeper-2 {
  height: 242px;
  margin-bottom: -49.52px;
  margin-top: -49.52px;
  min-width: 2px;
}

.fixed-aspect-ratio.fifty-four .aspect-ratio-keeper-2 {
  height: 242px;
  margin-bottom: -49.52px;
  margin-top: -49.52px;
  min-width: 2px;
}

.fixed-aspect-ratio.twenty-one .aspect-ratio-keeper-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-true .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.fifty-height-false.twenty-one .aspect-ratio-keeper-2 {
  transform: rotate(44deg);
}

.fixed-aspect-ratio.fifty-height-false.forty-three .aspect-ratio-keeper-2 {
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.fifty-height-false.fifty-four .aspect-ratio-keeper-2 {
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.fifty-height-false.one-thousand-six-hundred-and-ten .aspect-ratio-keeper-2 {
  height: 240px;
  margin-top: -10.4px;
  transform: rotate(-127deg);
}

.fixed-aspect-ratio.fifty-height-false.eleven .aspect-ratio-keeper-2 {
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-false .aspect-ratio-keeper-2 {
  height: 240px;
  margin-top: -10.4px;
  transform: rotate(-127deg);
}

.fixed-aspect-ratio.fifty-height-false.letter .aspect-ratio-keeper-2 {
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine.fifty-height-false .aspect-ratio-keeper-2 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-true .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.eleven.fifty-height-true .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten.fifty-height-true .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.fifty-height-true.twenty-one .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.two-hundred-and-nineteen.fifty-height-false .aspect-ratio-keeper-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: rotate(-32.16deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1.fifty-height-true .aspect-ratio-keeper-2 {
  margin-top: -49.32px;
}

.fixed-aspect-ratio.a4.fifty-height-false .aspect-ratio-keeper-2 {
  transform: rotate(53.44deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1 .aspect-ratio-keeper-3 {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen .aspect-ratio-keeper-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(39deg);
}

.fixed-aspect-ratio.eleven .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.thirty-two .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.a4 .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten .aspect-ratio-keeper-3 {
  height: 242px;
  margin-bottom: -1px;
  margin-top: -1px;
  min-width: 2px;
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine .aspect-ratio-keeper-3 {
  height: 2px;
  margin-left: -1px;
  margin-right: -1px;
  min-width: 242px;
  transform: rotate(-140.34deg);
}

.fixed-aspect-ratio.letter .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.forty-three .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.fifty-four .aspect-ratio-keeper-3 {
  transform: rotate(-22.96deg);
}

.fixed-aspect-ratio.twenty-one .aspect-ratio-keeper-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.golden-ratio-1-618-1 .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.two-hundred-and-nineteen .aspect-ratio-keeper-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.eleven .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.thirty-two .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.a4 .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.one-thousand-six-hundred-and-ten .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.one-hundred-and-sixty-nine .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.letter .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.forty-three .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.fifty-four .aspect-ratio-keeper-4 {
  transform: rotate(44.66deg);
}

.fixed-aspect-ratio.twenty-one .aspect-ratio-keeper-4 {
  height: 2px;
  margin-left: -1px;
  margin-right: -1px;
  min-width: 242px;
  transform: rotate(-140.34deg);
}
