.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #000;
  }
  
  .swiper-button-next:after, 
  .swiper-container-rtl .swiper-button-prev:after, 
  .swiper-button-prev:after, 
  .swiper-container-rtl .swiper-button-next:after {
    font-size: 22px;
  }