:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-default-red: rgba(255, 69, 58, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-default-blue: rgba(10, 132, 255, 1);
  --dl-color-default-pink: rgba(255, 45, 85, 1);
  --dl-color-default-teal: rgba(100, 210, 255, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-black: rgba(28, 28, 30, 1);
  --dl-color-default-gray1: rgba(44, 44, 46, 1);
  --dl-color-default-gray2: rgba(58, 58, 60, 1);
  --dl-color-default-gray3: rgba(72, 72, 74, 1);
  --dl-color-default-gray4: rgba(99, 99, 102, 1);
  --dl-color-default-gray5: rgba(142, 142, 147, 1);
  --dl-color-default-gray6: rgba(229, 229, 234, 1);
  --dl-color-default-gray7: rgba(247, 247, 247, 1);
  --dl-color-default-green: rgba(50, 215, 75, 1);
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-default-indigo: rgba(94, 92, 230, 1);
  --dl-color-default-orange: rgba(255, 159, 10, 1);
  --dl-color-default-purple: rgba(191, 90, 242, 1);
  --dl-color-default-yellow: rgba(255, 214, 10, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-default-iosblurdark: rgba(0, 0, 0, 0.699999988079071);
  --dl-color-default-iosblurlight: rgba(255, 255, 255, 0.33000001311302185);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-default-iosblurregular: rgba(0, 0, 0, 0.550000011920929);
  --dl-color-default-iosblurextralight: rgba(255, 255, 255, 0.5);
  --dl-color-default-iosblursystemmaterial: rgba(34, 34, 34, 0.8999999761581421);
  --dl-color-default-iosblursystemthinmaterial: rgba(34, 34, 34, 0.800000011920929);
  --dl-color-default-iosblursystemthickmaterial: rgba(5, 5, 5, 0.800000011920929);
  --dl-color-default-iosblursystemultrathinmaterial: rgba(57, 57, 57, 0.699999988079071);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
